table{
    border: 1px solid grey;
    border-collapse: collapse;
}

table thead {
    --tw-bg-opacity: 1;
        background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}

table tbody tr td{
    padding: 10px 0 10px 0;
}